/* MOBILE STYLE*/

@media (max-width: 600px) {  

  footer
  {
    text-align: center;
  }
  .formulario_productos_interno  .nf-form-content nf-fields-wrap nf-field {
    display: block !important;
    width: 90% !important;
    margin: auto !important;
  }

  .js--product.type-product
  {
      padding-left: 0 !important;
      padding-right: 0 !important;
      background-color: white;
  }

  .products-related .container
  {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

//Para distribuidor
@media screen and (max-width: 769px) {

  //contactos

  .columnacontacto
  {
   
    img
    {
      position: relative !important;
   
    }
  }
  .coldistribuidor {
    height: 200px !important;
  }

  .columnaservicios > div {
    height: 200px !important;
  }

  #main-content > .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .columnaservicio > div {
    height: 200px !important;
  }
  .filanosotros {
    padding: 0px !important;
    margin: 0px !important;
  }
  .vc_custom_1483045728113
  {
    padding-right: 0 !important;
    padding-left: 0 !important
  }
}

//Para nosotros
@media screen and (max-width: 991px) {
  .coldelgadalarga {
    height: 200px !important;
  }
  .textonosotros h3 {
    font-size: 4.5vw !important;
  }
  .imagenNormal img {
    position: absolute !important;
    left: 0 !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .columnas > div {
    padding-left: 0 !important;
  }
}

//Para equipo 2  nosotros y responsabilidad
@media screen and (max-width: 767px) {
  .columnaImagenNormal {
    height: 300px;
    left: -53px;
  }
}
//Home 767

@media screen and (min-width: 768px) {
  //Letras
  .columna1 {
    left: 49px !important;
  }
  .columna2 {
    left: 193px !important;
  }
}

//IMAGEN <991

@media screen and (max-width: 991px) {
  .coldelgadalarga1 {
    height: 70px !important;
  }
}

//para la parte de las dobles franjas

@media screen and (max-width: 767px) {
  #dobleColor1, #dobleColor {
    padding: 0 !important;
  }
}
@media screen and (max-width: 500px) {
  #filaPost.vc_custom_1483136451900 {
    padding-right: 10% !important;
    padding-left: 10% !important;
  }
}