/*
CTC Separate Stylesheet
Updated: 2016-12-29 06:07:30
Theme Name: Melinda Child
Theme URI: http://melinda.themes.tvda.eu
Template: melinda
Author: TVDA Themes
Author URI: http://themes.tvda.eu
Description: Melinda Child
Tags: two-columns,three-columns,left-sidebar,right-sidebar,custom-background,custom-header,custom-menu,editor-style,featured-images,flexible-header,full-width-template,microformats,post-formats,rtl-language-support,sticky-post,theme-options,translation-ready,accessibility-ready
Version: 1.0.6.1482991650
*/

@import 'mobile_style';


// vida invetsa

.productos-lista .cat-lst-el_price {
    display: none;
}

.widget-area.sidebar .widget.woocommerce.widget_product_categories h5,
.productos-lista .cat-lst-el_bottom a {
    color: #6bc190;
}


.sidebar .widget {
    border-bottom: 1px solid #9d9ed1 !important
}

.banderas-top {
    margin-right: 15px;
    margin-left: 5px;
    a
    {
      color: white;
      &:hover {
        color: white;
      }
      img
      {
         width: 23px;
         margin-left: 5px;
         border-radius: 50px;
         margin-bottom: -5px;
      }
    }
}

.vida_invetsa_grid.wpb_column.vc_column_container.vc_col-sm-12 {
  margin-top: 50px;
}

.vc_gitem-zone.vc_gitem-zone-c.vc_custom_1419328663991 {
  background-color: transparent !important;
}

.vida_invetsa_grid {
  .vc_btn3-container.vc_btn3-left {
    display: none;
  }
  .wpb_wrapper div:nth-of-type(2) {
    position: relative;
  }
  .columna_figura_grande {
    position: static;
    div div {
      position: static;
      height: 100% !important;
      div {
        position: static;
        div {
          position: static;
          div {
            position: static;
            div {
              bottom: 0px;
              left: 0px;
              /*width: 66%;*/
              div {
                margin: 0;
                /*height: 100%;*/
                padding: 0 !important;
                div:nth-of-type(1) {
                  position: relative;
                  height: 100%;
                  div:nth-of-type(1) {
                    height: 100%;
                    div {
                      background-size: cover;
                      height: 100%;
                      width: 94%;
                      img {
                        object-fit: cover;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.post_figura_grande .vc_gitem-zone.vc_gitem-zone-c {
  position: absolute !important;
  bottom: 0;
  background-color: transparent !important;
  height: auto !important;
  color: white;
  .vc_custom_heading.vc_gitem-post-data h4 {
    color: white;
  }
}
// contactanos

.contact-form-formulario nf-fields-wrap nf-field {
  &:nth-of-type(1) {
    display: inline-block;
    margin-right: 10px;
  }
  &:nth-of-type(2) {
    display: inline-block;
    margin-left: 10px;
  }
}

.contact-form-formulario .nf-field-element textarea {
    height: 80px;
}

.columnacontacto
{
  position:relative;
  img
  {
    position: absolute;
    object-fit: cover;
    height: 100% !important;
  }
}

//footer

footer #ninja_forms_widget-2
{
      /* margin: 0px !important; */
    padding: 0px !important;
}

footer #text-13
{
      padding-top: 0px !important;
    color: gray;
}

footer .nf-form-content nf-fields-wrap nf-field
{
    display: inline-block;
    /*vertical-align: middle;*/
    &:nth-of-type(1) input
    {
        color: gray;
        background-color: white;
    }
    &:nth-of-type(2) input
    {
        border-radius: 0;
        background-color: gray;
        padding-top: 12px;
        padding-left: 17px;
        padding-right: 24px;
        padding-bottom: 12px;
    }
    .main-f-top .widget
    {
      padding-top: 0px !important
    }
    .container .row div:nth-of-type(3) div:nth-of-type(3) div
    {
      color:gray
    }
}





#nf-field-6
{
    background-image: url("/invetsa/peru/wp-content/uploads/2016/12/mail-icon.png");
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 32px 32px;
}

// productos

.product-tabs-cnt-w
{
background-color: white;
}

.formulario_productos_interno .nf-form-content nf-fields-wrap nf-field {
  display: inline-block;
  width: 30%;
  :nth-of-type(2) {
    margin-right: 10px;
    margin-left: 20px;
  }
  &:nth-of-type(3) {
    margin-left: 10px;
  }
  &:nth-of-type(4) {
    width: 95%;
  }
  &:nth-of-type(5) {
    margin-top: 20px !important;
  }
  input {
    width: 100%;
  }
}

.nf-after-form-content {
  display: none;
}

.products-related .container
{
    padding:0px;
    h5
    {
        text-align:left
    }
}

.product-tabs-cnt-w .product-tabs-cnt .container
{
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.product_summary {
  .product_add-to-cart-w, .add-to-wishlist.yith-wcwl-add-to-wishlist {
    display: none;
  }
}

.product-meta,
.product-tabs-w
{
  display: none;
}

.js--product.type-product
{
    padding-left: 15%;
    padding-right: 15%;
    background-color: white;
}

//Para distribuidores
.infoboxdistribuidor {
  margin: 0 !important;
}

.coldistribuidor .vc_column-inner {
  &.vc_custom_1483027734979, &.vc_custom_1483027955380, &.vc_custom_1483027948151 {
    padding: 0 !important;
  }
}

//Para servicios
.columnaservicios > div {
  padding: 0 !important;
}

.imagenservicios img {
  position: absolute !important;
  left: 0 !important;
  object-fit: cover !important;
  height: 93% !important;
}

//para home

.imagenfixeada img {
  position: absolute !important;
  left: 0 !important;
  height: 100% !important;
  object-fit: cover !important;
}

#dobleColor {
  background: #00a758;
  /* Old browsers */
  background: -moz-linear-gradient(left, #00a758 0%, #00a758 50%, #000000 50%, #000000 100%, #000000 100%, #000000 101%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00a758 0%, #00a758 50%, #000000 50%, #000000 100%, #000000 100%, #000000 101%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00a758 0%, #00a758 50%, #000000 50%, #000000 100%, #000000 100%, #000000 101%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a758', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */
}

#dobleColor1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#645ac3+0,645ac3+50,ffffff+50,ffffff+51,ffffff+51,ffffff+100,000000+100,ffffff+100 */
  background: #645ac3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #645ac3 0%, #645ac3 50%, #ffffff 50%, #ffffff 51%, #ffffff 51%, #ffffff 100%, #000000 100%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #645ac3 0%, #645ac3 50%, #ffffff 50%, #ffffff 51%, #ffffff 51%, #ffffff 100%, #000000 100%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #645ac3 0%, #645ac3 50%, #ffffff 50%, #ffffff 51%, #ffffff 51%, #ffffff 100%, #000000 100%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645ac3', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
}

//

.vc_column-inner.vc_custom_1482912382175 {
  padding-top: 0 !important;
}

//Para contacto

.columnacontacto .vc_column-inner {
  padding: 0 !important;
}


@media screen and (max-width: 575px) {
  .infoboxdistribuidor .ult-responsive {
    font-size: 2.5vw !important;
  }
}


//Para nosotros
.coldelgadalarga > div {
  padding: 0 !important;
}

//Para equipo 2  nosotros y responsabilidad

.imagenNormal1 img {
  position: absolute !important;
  height: 100% !important;
  object-fit: cover !important;
  top: 0 !important;
  left: 58px !important;
}
//Precios Home

#productosHome {
  .woocommerce-Price-amount {
    display: none !important;
  }
  .cat-lst-el_h {
    color: #00a758;
  }
  .cat-lst-el {
    padding: 7px;
  }
}

//Post

#filaPost {
  .vc_custom_heading {
    h4 {
      font-size: 20px !important;
      color: #00a758 !important;
      text-align: center !important;
    }
    p {
      text-align: justify !important;
      color: black !important;
    }
  }
  .vc_gitem-zone.vc_gitem-zone-c {
    padding-right: 0px !important;
    padding-left: 0 !important;
    padding-top: 27px !important;
  }
  .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align-left {
    padding: 0 !important;
  }
  img.vc_gitem-zone-img {
    height: 250px !important;
    /* width: 224px !important; */
  }
  &.vc_custom_1483136451900 {
    padding-right: 144px !important;
    padding-left: 148px !important;
  }
}
.mods_el-menu {
  display: none !important;
}

header .main-h-bottom-w {
  height: 110px !important;
}

img.logo {
  height: 66px !important;
}

.main-h-top {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

header .mods.text-center.text-right-sm {
  left: -179px;
}

a.mods_el.hidden-xs {
  padding-right: 1.4em;
}

i.fa {
  &.fa-facebook, &.fa-linkedin, &.fa-twitter {
    font-size: 15px;
  }
}

.main-h-top {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

//Ultimo
ul#menu-menu-principal-1 {
  color: #68676a !important;
}
.home button.ubtn {
  border-color: #ffffff !important;
}

@media screen and (min-width: 768px) {
  header .main-h-top div {
    &.col-sm-9.__inline {
      width: 58% !important;
    }
    &.col-sm-3.__inline {
      width: 41% !important;
    }
  }
}

.main-f-bottom {
  padding-top: 2px !important;
  padding-bottom: 0 !important;
}

footer .mods.text-center.text-right-sm {
  left: -16px !important;
}
footer {
  div.col-sm-4:nth-child(2) {
    /*padding-left: 74px !important;*/
  }
  .textwidget {
    div {
      font-family: futura-pt,'Source Sans Pro',Helvetica,Tahoma,Arial,sans-serif !important;
    }
    li a {
      opacity: 1 !important;
    }
  }
}